<div class="navbar-fixed">
  <nav class="yellow darken-2">
    <div class="nav-wrapper ">
      <a href="/" class="brand-logo left">
        <img id="logo" class="responsive-img ml-2" src="/images/jackolantern.png" />
        <span class="hide-on-small-only">BooNews</span>
      </a>
      <div class="valign-wrapper right" style="height: 100%;">
        <button id="loadNewArticle" class="valign center-align waves-effect waves-light btn yellow darken-3"> Scrape
          new Stories!</button>
      </div>
    </div>
  </nav>
</div>

<script>
  document.getElementById("loadNewArticle").addEventListener("click", function (e) {
    fetch("/api/scrape")
      .then(response => response.text())
      .then(data => { window.location.href = data });
  })
</script>