<div class="navbar-fixed">
<nav class="yellow darken-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
      <img id="logo" class="responsive-img ml-2" src="/images/jackolantern.png"/> 
      <span class="hide-on-small-only">BooNews</span>
      </a>
    </div>
</nav>
</div>