<nav class="navbar is-warning mb-2" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-white is-size-4" href="/" style="vertical-align:top">
      <img src="/images/jackolantern.png" style="vertical-align:top; margin-right: .5em;"/> BooNews
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nav-toggle">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="nav-toggle" class="navbar-menu">
    {{!-- <div class="navbar-start">
      <a class="navbar-item is-active" href="/">
        Home
      </a>

      <a class="navbar-item">
        Test
      </a>

    </div> --}}

    {{!-- <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div> --}}
  </div>
</nav>

<script src="/js/hamburgerToggle.js"></script>