<div class="navbar-fixed">
<nav class="yellow darken-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
      <img id="logo" class="responsive-img" src="/images/jackolantern.png"/> 
      BooNews</a>
    </div>
</nav>
</div>