<section class="col s12 m6 l6 offset-m2">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text center-align">
      <h4 class="">Welcome to BooNews! It looks like there are no spooky stories yet.</h4>
    </div>
    <div class="card-action center-align">
      <button id="load-news" class="waves-effect waves-light btn yellow darken-2">Load Stories!</button>
    </div>
  </div>
</section>


<script>
  document.getElementById("load-news").addEventListener("click", function (e) {
    fetch("/api/scrape")
      .then(response => response.text())
      .then(data => window.location.href = data);
  })
</script>