body {
  background: black url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
}

body:after{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black url("/images/background.gif");
  background-size: 100% 100%;
  background-attachment: fixed;
  opacity: .4;
  z-index: -10;
}


#logo {
  vertical-align: top;
  width: 60px;
  height: auto;
}

.comments-list{
  margin-bottom: 1em;
}

.article-comment-wrapper {
  margin: 1em;
}

.article-comment{
  padding: .7em;
}

*{
  font-family: 'Indie Flower', cursive;
}

p{
  font-size: 1.2em;
}

a{
  font-size: 1.5em;
}

.no-comment{
  text-align: center;
  color: rgb(194, 194, 194);
}

.deletebutton{
  cursor: pointer;
}

.deletebutton:hover{
  color: orange;
}

.comment-title{
  padding: 0;
  margin: 0;
}